{% extends 'base.html' %}
{% load static %}
{% block ss %}

      <!-- Sidebar -->
      {% include 'sidebar.html' %}

      <!-- Main -->
      <main class="main-container">
        <div class="main-title"><h2>ХЯНАЛТЫН САМБАР</h2></div>
        <div class="main-cards">
          <div class="card"><div class="card-inner"><h3>БАРАА</h3><span class="material-icons-outlined">inventory_2</span></div><h1>249</h1></div>
          <div class="card"><div class="card-inner"><h3>ТӨРӨЛ</h3><span class="material-icons-outlined">category</span></div><h1>25</h1></div>
          <div class="card"><div class="card-inner"><h3>ХУДАЛДАГЧ</h3><span class="material-icons-outlined">groups</span></div><h1>10</h1></div>
          <div class="card"><div class="card-inner"><h3>МЭДЭЭ</h3><span class="material-icons-outlined">notification_important</span></div><h1>10</h1></div>
        </div>

        <div class="charts">
          <div class="charts-card">
            <h2 class="chart-title">Шилдэг 5 бүтээгдэхүүн</h2>
            <div id="bar-chart"></div>
          </div>
          <div class="charts-card">
            <h2 class="chart-title">Худалдан авалт, борлуулалтын захиалга</h2>
            <div id="area-chart"></div>
          </div>
        </div>
      </main>
      <!-- End Main -->
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
{% endblock %}