<aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">shopping_cart</span> REGISTRATION
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">dashboard</span> Хяналтын самбар</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">inventory_2</span> Бараа</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">category</span> Төрөл</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">groups</span> Худалдагч</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">store</span> Салбар</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">poll</span> Тайлан</a></li>
      <li class="sidebar-list-item"><a href="#"><span class="material-icons-outlined">settings</span> Тохиргоо</a></li>
    </ul>
  </aside>
  <!-- End Sidebar -->
  