{% extends 'base.html' %}
{% block ss %}
{% include 'sidebar.html' %}

<main class="col-span-full lg:col-start-2 row-start-2 p-8">
    <h2 class="text-2xl font-bold text-white mb-4">Салбар засах</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid gap-4">
            <div>
                <label for="branch_name" class="text-white">Салбарын нэр</label>
                <input type="text" id="branch_name" name="branch_name" value="{{ branch.branch_name }}" class="w-full bg-secondary text-white px-4 py-2 rounded-lg">
            </div>
            <div>
                <label for="slug" class="text-white">Slug</label>
                <input type="text" id="slug" name="slug" value="{{ branch.slug }}" class="w-full bg-secondary text-white px-4 py-2 rounded-lg">
            </div>
            <div>
                <label for="img" class="text-white">Зураг</label>
                <input type="text" id="img" name="img" value="{{ branch.img }}" class="w-full bg-secondary text-white px-4 py-2 rounded-lg">
            </div>
            <div>
                <label for="branch_location" class="text-white">Байршил</label>
                <input type="text" id="branch_location" name="branch_location" value="{{ branch.branch_location }}" class="w-full bg-secondary text-white px-4 py-2 rounded-lg">
            </div>
        </div>
        <button type="submit" class="mt-6 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">Хадгалах</button>
    </form>
</main>
{% endblock %}
